code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


body {
  /*background-color: rgb(2, 71, 20);*/
  background-image: linear-gradient(rgb(0, 0, 0),rgba(0, 0, 0, 0.75));

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
  padding-left: 1%;
  padding-right: 1%;
}
header{
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
  margin-bottom: 1%;
  border-style: inset;
  border-width: 1rem;
  border-color: rgb(255, 0, 0);
  /*border-image: linear-gradient(to bottom, red, transparent);*/
  background-color: rgba(255, 255, 255, 0.74);
  padding-bottom: 1em;
  margin: 0 -1em;
  padding-left: 5%;
}
h1 {
  color: rgb(17, 160, 255);
  font-size: 3.5rem;
  font-weight: bold;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgb(1, 88, 104);
}
h2 {
  color: rgba(3, 31, 78, 0.781);
  text-decoration: underline;
  text-decoration-color: rgb(70, 19, 112);
  
  font-size: 1.75rem;
  font-weight: 1200;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(0, 255, 234);
}
h2.filmIDs{
  border-top: 2px solid white;
  border-top-style: solid;
  font-size: 1.2rem;
  font-weight: 300;
  display: flex;
  justify-content: flex-end;
  text-decoration-color: rgba(3, 209, 20, 0.781);
  -webkit-text-stroke-color: rgb(5, 245, 57);
}
p {
  color: rgb(0, 225, 255);
  margin-bottom: 2rem;
}
ul{
  color: rgb(0, 225, 255);
  margin-top: 2rem;
  
}
#actorNames{
  list-style: none;
  column-count: 3;
  border-style: solid;
  padding-left: 5%;
}
#listOfActors{
  border-bottom: 1px solid beige;
  border-width: 1px;
  margin: 10px;
  width: 10rem;
  text-align: center;
  word-wrap: break-word;
  border-radius: 1rem;
}
article{
  outline-color: aqua;
  margin: 5% auto;
  padding-top: 1%;
  padding-left: 1%;
  border-color: aqua;
}
nav{
  font-weight: 400;
  text-align: center;
  margin: 3% 10%;
  text-decoration: none;
  color:rgb(133, 4, 111);
}

a{
  font-weight: 700;
  text-align: center;
  margin: 3% 1%;
  text-decoration: none;
  color:rgb(255, 5, 213);
  padding: 1px 0;
  box-shadow: 0px 1px 0px #dedede;
}
header.App-header a {
  position: relative;
}
header.App-header a {
  transition: all 0.5s;
}

header.App-header a:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
  font-size: 1.1rem;
}
header.App-header a:hover {
  color: rgb(17, 0, 255);
  z-index: 1;
  font-weight: 900;
  
}
header.App-header a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}


img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  border-radius: 5%;
}
#si{
  width: 75%;
  height: auto;
}


:root {
  --light-green: rgb(154, 185, 156);
}

label{
  color: var(--light-green);
  font-weight: 700;
  font-style: oblique;
  display: block;
  text-align: left;
  
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto 0 auto;
  background-color: rgb(56, 35, 3);;
  border-radius: 24px;
  max-width: 20rem;
  padding: 12px;
  border: 2px solid var(--light-green);
}


input[type=text], select {
  width: 100%;
  height: 30px;
  padding: 12px 20px;
  color:#dedede;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid var(--light-green);
  border-radius: 8px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.1);
}

.input {
  width: 100%;
  margin: auto;
}


form button {
  width: 100%;
  border-radius: 8px;
  background: var(--light-green);
  border: none;
}

button{
  width: 20%;
  height: 30px;
  margin-top: 1.5rem;
  font-weight: 700;
  border-style: solid; 
  border-radius: 10px;
  color:#dedede;
  text-align: center;
}

#delete_actor_submit_button, #delete_film_submit_button{
  width: 14rem;/*Once it is too small the button stays the same width*/
}

.each_actor_button{
  font-weight: 700;
  font-size: small;
  width: 10rem;
  border-style: none;
}
.mini-input{
  font-size: x-small;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
input.filmID{
  width: 3rem;
  border: none;
  border-radius: 0%;
  border-bottom: 1px solid black;
  height: 1rem;
  margin: 0.25rem;
}
button.addFilm{
  margin: 0;
  font-weight: 600;
  height: 1.5rem;
  border-width: 0.01rem;
  background: #dedede;  
  color:blue;
}

.actorFilmList{
  font-size: x-small;
}

.small_text{
  font-size: xx-small;
}


@-webkit-keyframes App-header {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #333;
  }
}
